html {
    padding: 1em;
    background-image: url('image/backgrnd.jpg');
    margin: auto;
    width: 80%;
    max-width: 1000px;
    min-height: 100%;
}

body {
    font-family: Verdana, sans-serif;
}

p {
    padding-left: 1em;
    padding-right: 2em;
}

li {
    font-size: 80%;
    background-color: #d0d0d0;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}

main,
footer,
span {
    background-color: aliceblue;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

header {
    text-align: center;
    font-family: sans-serif;
    background-color: aliceblue;
    margin: 2em;
    padding: .5em;
    font-size: x-large;
    border: double;
    border-width: thin;
    border-radius: 1em;
}

a:link {
    color: violet;
}

a:visited {
    color: darkorchid;
}

a:hover {
    text-decoration: none;
    color: blueviolet;
}

img {
    border: 2px solid black;
}

footer {
    margin: 1em;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}