html {
    background-color: rgba(255, 250, 242, 0.447);
    margin: auto;
}
header {
    background-color: rgb(53, 48, 53);
    color: antiquewhite;
    padding: 1em;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    padding: 0.5em 0;
}
nav, main, footer {
    background-color: white;
    border: 2px outset;
    padding: 1em;
}
article {
    border-bottom: 1px solid black;
    border-radius: .5em;
}
#obq {
    border-bottom: none;
}
#ss {
    padding-bottom: 2em;
}
picture {
    align-items: center;
}
h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;
}
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25pt;
}
h3 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
#caption {
    color: antiquewhite; 
}
#caption, footer {
    font-family:'Arial Narrow', Arial, sans-serif;
}
p {
    font-family: 'Lucida Sans';
    font-size: 11pt;
    color: #404040;
    
}
p, li {
    line-height: 2em;
}
nav a:link {
    color: rgb(50, 50, 49);
}

nav a:hover {
    color: rgb(193, 180, 163);
}
nav a:visited {
    color: rgb(104, 102, 102);
}
#fbqlist, #obqlist {
    list-style-type: square;
    list-style-position: inside;
}
@media (min-width: 1700px) {
    nav, main, footer {
        margin-left: 5em;
        margin-right: 40em;
        margin-top: 1em;
    }
}